
.carousel-inner nav
{
	position: relative;
	text-align: center;
	margin-top: 0;
}
.carousel-inner img
{
	background: 50%;

}
.carousel-item p
{
	color: #1b1b1b;
	font-size: 40px;
	font-style: italic;
	font-weight: 700;
	text-align: center;
	line-height: 100px;
}
.carousel-inner a
{
	text-decoration: none;
	display: inline-block;
	color: maroon;
	font-size: 24px;
	border: 2px solid #1b1b1b;
	padding: 14px 70px;
	border-radius: 50px;
	margin-top: 20px;
	background: transparent;
	font-weight: 700;
}